.receita__botao{
    background: #05632c;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .1s ease-in-out;
}
.receita__botao:hover{
    background: #084721;
    cursor: pointer;
}

